@media(min-width: 1200px){
    .hideOnMobile{
      /* display: none; */
    }
    .menu-button{
      display: block;
      display: none;
    }
  }
  @media(max-width: 1200px){
    .sidebar{
      width: 90%;
    }
    /* nav li{
      display: none;
    } */
}
  